@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 217 22% 93%;
        --foreground: 214 45% 10%;
        --card: 217 22% 93%;
        --card-foreground: 214 45% 10%;
        --popover: 217 22% 93%;
        --popover-foreground: 214 45% 10%;
        --primary: 216 45% 28%;
        --primary-foreground: 217 22% 93%;
        --secondary: 281 45% 65%;
        --secondary-foreground: 214 45% 10%;
        --muted: 218 22% 20%;
        --muted-foreground: 214 45% 70%;
        --accent: 298 45% 43%;
        --accent-foreground: 217 22% 93%;
        --destructive: 0 85% 60%;
        --destructive-foreground: 214 45% 10%;
        --border: 218 22% 20%;
        --input: 218 22% 20%;
        --ring: 298 45% 40%;
        --radius: 1rem;
    }

    .dark {
        --background: 218 22% 7%;
        --foreground: 214 45% 90%;
        --card: 218 22% 7%;
        --card-foreground: 214 45% 90%;
        --popover: 218 22% 7%;
        --popover-foreground: 214 45% 90%;
        --primary: 216 45% 72%;
        --primary-foreground: 218 22% 7%;
        --secondary: 281 45% 35%;
        --secondary-foreground: 214 45% 90%;
        --muted: 218 22% 80%;
        --muted-foreground: 214 45% 90%;
        --accent: 298 45% 57%;
        --accent-foreground: 218 22% 7%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 214 45% 10%;
        --border: 218 22% 60%;
        --input: 218 22% 80%;
        --ring: 298 45% 60%;
    }
}
